/* Universal selector for HTML content to give all relevant HTML elements the properties  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Give background color for the entire Body element */
body {
    background-color: #d9dcd6;
}

/* Gives the class="header" properties in HTML */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Specificity for h1 in the class="header" */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Removed specificity for class="seo" */
.seo {
    color: #d9dcd6;
}

/* Specificity for div in the class="header" */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed div specificity */
.header ul {
    list-style-type: none;
}

/* Removed div and ul specificity */
.header li {
    display: inline-block;
    margin-left: 25px;
}

/* Gives properties to the anchor element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Determines font size for paragraph element */
p {
    font-size: 16px;
}

/* class="hero" properties in HTML */
.hero {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

/* class="float-left" to have content in specific position */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class="float-right" to have content in specific position */
.float-right {
    float: right;
    margin-left: 25px;
}

/* class="content" properties in HTML */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* class="benefits" properties in HTML */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* class="benefit-lead" properties */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* class="benefit-brand" properties */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* class="benefit-cost" properties */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* h3 specificity for class="benefit-lead" */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* h3 specificity for class="benefit-brand" */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* h3 specificity for class="benefit-cost" */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* img specificity for class="benefit-lead" */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* img specificity for class="benefit-brand" */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* img specificity for class="benefit-cost" */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* class="search-engine-optimization" properties */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* class="online-reputation-management" properties */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* class="social-media-marketing" properties */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* img specificity for class="search-engine-optimization" */
.search-engine-optimization img {
    max-height: 200px;
}

/* img specificity for class="online-reputation-management" */
.online-reputation-management img {
    max-height: 200px;
}

/* img specificity for class="social-media-marketing" */
.social-media-marketing img {
    max-height: 200px;
}

/* h2 specificity for class="search-engine-optimization" */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* h2 specificity for class="online-reputation-management" */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* h2 specificity for class="social-media-marketing" */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* class="footer" properties for content in footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* h2 specificity for class="footer" */
.footer h2 {
    font-size: 20px;
}
